{# This file works as both the default fallback and template for a search record. #}

<li class="search-result content-characteristics content-characteristics-{{ record.type }}">
  <div>
    <div class="content-item-title">
      <span class="content-characteristics-icon">
        {% if record.theme %}
          {% set themeClass = ckan_mapping_get_theme_class(record.theme[0]) %}
          {% if themeClass %}
            <dd class="icon icon--{{ themeClass }}"></dd>
          {% endif %}
        {% endif %}
      </span>
      <div>
        <p class="type">{% block type_name %}{{ record.type|capitalize|t }}{% endblock type_name %}</p>
        <a href="{{ record.url }}" class="result--title"><h2>{{ record.title }}</h2></a>
      </div>
    </div>

    {% if record.description %}
      <div class="search-content">
        {% block search_content %}
          {% block search_content_prefix %}{% endblock search_content_prefix %}
          {% set description = ckan_markdown(record.description, false) %}
          <p>{{ description|length > 200 ? description|slice(0, 200) ~ '...' : description }}</p>
          {% block search_content_suffix %}{% endblock search_content_suffix %}
        {% endblock search_content %}
      </div>
    {% endif %}
  </div>
  {% if record.getOrgLogoUrl %}
    <img src="{{ record.getOrgLogoUrl }}" alt="Logo {{ node.title.value }}" class="org-unit-logo">
  {% endif %}
</li>
