{% extends '@koop_overheid/content_item/search/donl-searchrecord.html.twig' %}

{% block type_name %}{{ 'Data request'|t }}{% endblock type_name %}

{% block search_content_suffix %}
  <table class="main-data minimal-table">
    <tbody>
    {% if record.metadata_modified %}
      <tr>
        <th>{{ 'Updated'|t }}:</th>
        <td>{{ ckan_format_date(record.metadata_modified) }}</td>
      </tr>
    {% endif %}
    {% if record.theme %}
      <tr>
        <th>{{ 'Theme'|t }}:</th>
        <td>{{ ckan_mapping_get_theme_name(record.theme[0]) }}</td>
      </tr>
    {% endif %}
    {% if record.state %}
      <tr>
        <th>{{ 'State'|t }}:</th>
        <td>{{ record.state }}</td>
      </tr>
    {% endif %}
    {% if record.authority %}
      <tr>
        <th>{{ 'Data owner'|t }}:</th>
        <td>{{ ckan_mapping_get_organization_name(record.authority[0]) }}</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  <div class="short-links">
    <a href="{{ record.url }}#request">{{ 'Request'|t }}</a>
    <a href="{{ record.url }}#reply">{{ 'Reply dataoverheid'|t }}</a>
    <a href="{{ record.url }}#relations">{{ 'Relations'|t }}</a>
  </div>
{% endblock search_content_suffix %}
