<div class="search-page">
  <div class="columns columns--sidebar-left">
    <div class="results">
      {{ context_block }}

      {% if total_results %}
        <h1 class="search-header">{{ total_results }}</h1>
      {% endif %}

      {% if spellcheck %}
        <div class="search--spellcheck">
          {{ spellcheck }}
        </div>
      {% endif %}

      {{ pagination }}
      <div class="result--list">
        {% if rows %}
          <ul>
            {% for row in rows %}
              {{ row }}
            {% endfor %}
          </ul>
        {% else %}
          <p>{{ 'No results were found based on your search query.'|t }}</p>
        {% endif %}
      </div>
      {{ pagination }}
    </div>
    <div class="facets-wrapper">
      {{ above_facets }}
      {{ facets }}
    </div>
  </div>
</div>
