<a href="#{{ id }}" class="form-sub-step form-sub-step-{{ id }}{{ completed ? ' completed' }}{{ active ? ' started' }}{{ advanced ? ' advanced' }}" data-sub-step="{{ id }}">
  <div class="status"></div>
  <div class="title">{{ title }}</div>
</a>
