{% extends '@koop_overheid/content_item/content-item.html.twig' %}
{% import '@koop_overheid/content_item/content-item.html.twig' as content_item %}

{% block content_item %}
  {% set content_item_type = 'dataset' %}
  {% set content_item_background_color = 'blue' %}
  {{ parent() }}
{% endblock content_item %}

{% block content_item_pre_content %}
  {{ schema }}
  {% if warnings %}
    <div role="contentinfo" aria-label="Warning message" class="container">
      <div role="alert" class="alert alert--warning">
        <h2 class="visually-hidden">Warning message</h2>
        {% if warnings|length == 1 %}
          {{ warnings[0] }}
        {% else %}
          <ul>
            {% for warning in warnings %}
              <li>{{ warning }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock content_item_pre_content %}

{% block content_item_title %}
  {{ content_item.theme_icon('/' ~ base_path ~ directory ~ '/images/icon-data.svg', dataset.theme[0]) }}
  <div>
    <p class="type">Dataset</p>
    <h1>{{ dataset.title }}</h1>
    {{ content_item.permalink(url('ckan.dataset.view', {'dataset': dataset.id})) }}
  </div>
{% endblock content_item_title%}

{% block content_item_description %}
  <table class="minimal-table">
    <tbody>
    <tr>
      <th>{{ 'Owner'|t }}</th>
      <td>{{ ckan_link_data_owner(dataset.authority, ckan_mapping_get_organization_name(dataset.authority), 'link') }}</td>
    </tr>
    <tr>
      <th>{{ 'License'|t }}</th>
      <td><a href="{{ dataset.license_id }}" target="_blank">{{ ckan_mapping_get_license_name(dataset.license_id) }}</a></td>
    </tr>
    <tr>
      <th>{{ 'Updated'|t }}</th>
      <td>{{ ckan_format_date(dataset.metadata_modified) }}</td>
    </tr>
    <tr>
      <th>{{ 'Status'|t }}</th>
      <td>{% if dataset.dataset_status %}{{ ckan_mapping_get_status_name(dataset.dataset_status) }}{% else %}<span class="unknown">{{ 'Unknown'|t }}{% endif %}</td>
    </tr>
    </tbody>
  </table>
{% endblock content_item_description %}
