{% import '@koop_overheid/global_functions.html.twig' as functions %}

<div>
  <h2 class="visible-xs">{{ 'Description'|t }}</h2>
  <div class="characteristics">
    {% if dataset.dataset_quality == 1 %}
      {{ functions.characteristics(1, 'ok', 'Ok'|t, get_data_classification_tooltip_views('Ok')  ) }}
    {% endif %}

    {% if dataset.high_value %}
      {{ functions.characteristics(2, 'ok', 'High value'|t, get_data_classification_tooltip_views('High value') ) }}
    {% endif %}

    {% if dataset.reference_data %}
      {{ functions.characteristics(3, '', 'Reference dataset'|t, get_data_classification_tooltip_views('Referentiedata') ) }}
    {% endif %}

    {% if dataset.base_register %}
      {{ functions.characteristics(4, '', 'Basic register'|t, get_data_classification_tooltip_views('Basisregister') ) }}
    {% endif %}

    {% if dataset.conforms_to %}
      {{ functions.characteristics(5, 'international', 'Standard'|t, get_data_classification_tooltip_views('Standaard')  ) }}
    {% endif %}

    {% if dataset.legal_foundation_uri %}
      {{ functions.characteristics(6, 'basis', 'Grondslag bekend', get_data_classification_tooltip_views('Grondslag bekend')) }}
    {% endif %}

    {% if dataset.national_coverage %}
      {{ functions.characteristics(7, '', 'National coverage'|t, get_data_classification_tooltip_views('Landelijk dekkend')) }}
    {% endif %}

    {% if dataset.sector_registrations %}
      {{ functions.characteristics(8, '', 'Sector registrations'|t, get_data_classification_tooltip_views('Sectorregistraties')) }}
    {% endif %}

    {% if dataset.local_registrations %}
      {{ functions.characteristics(9, '', 'Local registrations'|t, get_data_classification_tooltip_views('Lokale registraties')) }}
    {% endif %}
  </div>
  <p>{{ ckan_markdown(dataset.notes) }}</p>
  {% if dataset.url %}
    <p>{{ 'Landing page' | t }}: {{ ckan_link(dataset.url) }}</p>
  {% endif %}
  {% if dataset.tags %}
    <div class="tags">
      {% for tag in dataset.tags %}
        {{ ckan_link_tag(tag) }}
      {% endfor %}
    </div>
  {% endif %}
</div>
<div class="dataset-sidebar">
  <div class="well dataset-links gray">
    <h2><img src="/themes/custom/koop_overheid/images/icon-info.svg" class="icon-info-img"
             alt="">{{ 'Not the dataset that you are looking for?'|t }}</h2>
    {% if links %}
      <p>{{ 'You can do a datarequest to request a specific dataset.' | t }}</p>
      {{ links.datarequest }}
      <p>{{ 'Would you like to respond to the contents of this dataset?' | t }}</p>
      {{ links.feedback }}
    {% endif %}
    <br>
  </div>

  {% if dataset.org_logo_url %}
    <img src="{{ dataset.org_logo_url }}" alt="" class="org-unit-logo">
  {% endif %}

  {% if dataset.contact_point_title or dataset.contact_point_name %}
    <strong>Contactinformatie</strong>
    {% set contactpoint %}
      <table class="minimal-table">
        <tbody>
        {% if dataset.contact_point_title %}
          <tr>
            <th>{{ 'Title'|t }}</th>
            <td>{{ dataset.contact_point_title }}</td>
          </tr>
        {% endif %}
        {% if dataset.contact_point_name %}
          <tr>
            <th>{{ 'Name'|t }}:</th>
            <td>{{ dataset.contact_point_name }}</td>
          </tr>
        {% endif %}
        {% if dataset.contact_point_email %}
          <tr>
            <th>{{ 'Email'|t }}:</th>
            <td><a href="mailto:{{ dataset.contact_point_email }}">{{ dataset.contact_point_email }}</a>
            </td>
          </tr>
        {% endif %}
        {% if dataset.contact_point_website %}
          <tr>
            <th>{{ 'Website'|t }}:</th>
            <td>{{ ckan_link(dataset.contact_point_website) }}</td>
          </tr>
        {% endif %}
        {% if dataset.contact_point_phone %}
          <tr>
            <th>{{ 'Phonenumber'|t }}:</th>
            <td>{{ dataset.contact_point_phone }}</td>
          </tr>
        {% endif %}
        {% if dataset.contact_point_address %}
          <tr>
            <th>{{ 'Address'|t }}:</th>
            <td> {{ dataset.contact_point_address }}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    {% endset %}
    {{ contactpoint }}
  {% endif %}
</div>
