<h2 class="visible-xs">{{ alias|capitalize|replace({'-': ' '})|t }}</h2>

{% for key, resource in resources %}
  <h3>{{ resource.name }}</h3>

  <p>{{ ckan_markdown(resource.description) }}</p>
  {% if resource.isImage %}
    <img src="{{ resource.url }}" alt="{{ resource.name }}">
  {% else %}
    <div id="localfocus-{{ key }}" class="localfocus-div" data-url="{{ resource.url }}"></div>
  {% endif %}
{% endfor %}
