<div id="above-facets">
  <h2><img src="/themes/custom/koop_overheid/images/icon-info.svg" class="icon-info-img" alt="">{{ 'About these results'|t }}</h2>
  <p>{{ count }}</p>
  <p class="community-button">{{ community }}</p>
  <p>{{ outside }} {{ outside_url  }}</p>
</div>
