<div class="content-item content-characteristics content-characteristics-community">
  <div class="content-header">
    <div class="container columns">
      <div>
        <a href="{{ path('entity.node.canonical',{'node' : node.id}) }}" class="link cta__backwards">
          {{ 'Back to community :community'|t({':community' : node.title.value}) }}
        </a>
      </div>
      {{ search }}
    </div>
  </div>
  <div class="content-characteristics-background">
    <div class="container">
      <div class="content-item-title">
        <span class="content-characteristics-icon"></span>
        <div>
          <p class="type">{{ 'Community'|t }}</p>
          <h1>{{ node.title.value }}</h1>
        </div>
      </div>
      <div class="content-item-description">{% if node.html_description.value %}{{ node.html_description.value|raw }}{% endif %}</div>
    </div>
  </div>
  <div class="container">
    <div class="community-search-page">
      {{ body }}
    </div>
  </div>
</div>
