{% if items %}
  <div class="col content-characteristics content-characteristics-dataset">
    <h3>{{ 'Related datasets'|t }}</h3>
    {% for item in items |slice(0, 8) %}
      <div class="search-result">
        <div class="content-item-title">
          <span class="content-characteristics-icon"></span>
          <div>
            <p class="type">{{ 'Dataset'|t }}</p>

            {% if community_machine_name %}
              <a href="{{ path('donl_community.dataset.view', {'community': community_machine_name, 'dataset': item.content['#url'].routeParameters.dataset}) }}" class="result--title">
                <h3>{{ item.content['#title'] }}</h3>
              </a>
            {% else %}
              <a href="{{ item.content['#url'] }}" class="result--title">
                <h3>{{ item.content['#title'] }}</h3>
              </a>
            {% endif %}

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
