{% if items %}
  <div class="container transitional-size">
    <h2>{{ 'Groups'|t }}</h2>
  </div>
  <div class="group-wrapper">
    <div class="container">
      <div class="field-groups">
        {% for item in items |slice(0, 8) %}
          <div class="search-result">
            <div class="content-item-title">
              <span class="type-icon"><img src="/{{ base_path ~ directory }}/images/icon-community.svg" alt="type-icon"></span>
              <div>
                <p class="type">{{ 'Group'|t }}</p>

                {% if community_machine_name %}
                  <a href="{{ path('donl_community.group.view', {'community': community_machine_name, 'group': item.content['#node'].machine_name.value}) }}" class="result--title">
                    <h3>{{ item.content['#node'].title.value }}</h3>
                  </a>
                {% else %}
                  <a href="{{ path('donl_search.group.view', {'group': item.content['#node'].machine_name.value}) }}" class="result--title">
                    <h3>{{ item.content['#node'].title.value }}</h3>
                  </a>
                {% endif %}

              </div>
            </div>
            <div class="search-content">
              {% if item.content['#node'].group_description.value %}
                {% set description = item.content['#node'].group_description.value|striptags %}
                <p>{{ description|length > 100 ? description|slice(0, 100) ~ '...' : description }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
