{% set classes = [
  'form__element',
  'js-form-item',
  'form-item',
  'js-form-type-' ~ type|clean_class,
  'form-item-' ~ name|clean_class,
  'js-form-item-' ~ name|clean_class,
  disabled ? 'form-disabled',
] %}

{% set id = attribute(element, '#id') %}

{% block opening_wrapper %}
  <div{{ attributes.addClass(classes) }}>
{% endblock opening_wrapper %}

  {% if label_wrapper %}
    {{ label_open }}
  {% else %}
    {{ label }}
  {% endif %}

  {% block label_suffix %}
    {% if attribute(element, '#required') %}
      <small>{{ 'Required field'|t }}</small>
    {% endif %}
  {% endblock label_suffix %}

  {% if prefix is not empty %}
    <span class="field-prefix">{{ prefix }}</span>
  {% endif %}

  {% if description %}
    {{ description }}
  {% endif %}

  {% if suffix is not empty %}
    <div class="suffix-wrapper">
  {% endif %}

  {{ children }}

  {% if suffix is not empty %}
      <span class="field-suffix">{{ suffix }}</span>
    </div>
  {% endif %}

  {% if label_wrapper %}
    </label>
  {% endif %}

  {% if errors %}
    <p id="error__{{ id }}" class="form__error">
      <strong>{{ 'Let op:'|t }}</strong>
      {{ errors }}
    </p>
  {% endif %}

{% block closing_wrapper %}
  </div>
{% endblock closing_wrapper %}
