{% set id = attribute(element, '#id') %}

<div class="checkbox-wrapper">

  {% if description %}
    {{ description }}
  {% endif %}

  {% if label_wrapper %}
    {{ label_open }}
  {% else %}
    {{ label }}
  {% endif %}

  {% if prefix is not empty %}
    <span class="field-prefix">{{ prefix }}</span>
  {% endif %}

  {{ children }}

  {% if suffix is not empty %}
    <span class="field-suffix">{{ suffix }}</span>
  {% endif %}

  {% if label_wrapper %}
    {{ label_title }}
    </label>
  {% endif %}

  {% if errors %}
    <p id="error__{{ id }}" class="form__error">
      <strong>{{ 'Let op:'|t }}</strong>
      {{ errors }}
    </p>
  {% endif %}

</div>
