<div class="monitor-block">
  <h2>{{ 'Dataset statuses'|t }}</h2>
  {{ status_table }}
</div>
<div class="monitor-block">
  <h2>{{ 'Dataset quality'|t }}</h2>
  {{ dataset_quality }}
</div>
<div class="monitor-block">
  <h2>{{ 'Most recent datasets'|t }}</h2>
  {{ most_recent }}
</div>
