<div class="monitor-block">
  <h2>{{ 'Dataset owners'|t }}</h2>
  <div id="chart-datasets-per-owner" class="statistics-chart"></div>
  <div class="text-align-center"><strong>{{ 'Owners in chart'|t }}: {{ data.jsOwnersCount }}</strong></div>
  <details data-drupal-selector="rest-of-owners-1" id="rest-of-owners-1" class="form-wrapper">
    <summary role="button" aria-controls="rest-of-owners-1" class="pull-right">{{ 'Rest of owners'|t }} ({{ data.otherOwnersCount }})</summary>
    {{ data.table }}
  </details>
</div>