{% if hasRelations or content.sidebar.0 %}
  {% set containerClasses = 'has-sidebar-right' %}
  {% set sidebar = true %}
{% else %}
  {% set containerClasses = 'container-small' %}
{% endif %}

{% macro relation(name, relationItems) %}
  <div class="relation">
    <strong>{{ name }}:</strong>
    {% for key, item in relationItems %}
      {{ item }}<br>
    {% endfor %}
  </div>
{% endmacro %}

<div class="recent-detail">
  {% if header %}
    <div class="page-banner" style="background-image: url({{ header }})"></div>
  {% endif %}
  <div class="container {{ containerClasses }}">
    <div id="main-content">
      <a class="back arrow-before" href="{{ path('donl_recent.index', {'filter': node.recent_type.value}) }}">{{ 'Back to overview' | t }}</a>
      <h1>{{ node.title.value }}</h1>
      <div class="recent-info"><a href="{{ path('donl_recent.index', {'filter': node.recent_type.value}) }}">{{ node.recent_type.value | capitalize }}</a>
        | {{ "Created"|t }}: {{ node.created.value|date('d-m-Y') }} | {{ "Modified"|t }}: {{ node.edited.value|date('d-m-Y') }}
      </div>
      {{ content.body }}
      {{ content.field_paragraphs }}
    </div>
    {% if sidebar %}
      <div id="sidebar">
        {% if  content.sidebar.0 %}
          <div class="action-block">
            {{ content.sidebar }}
          </div>
        {% endif %}
        {% if relations %}
          <h2>{{ 'Relations'|t }}</h2>
          {% for key, relationItems in relations %}
            {{ _self.relation(relations_name_map[key], relationItems) }}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
