{% set container_classes = [
  'container',
  'columns',
  'row',
] %}

{% set container_attributes = create_attribute().addClass(container_classes) %}

{% if (left_sidebar_filled) %}
  {% set container_attributes=container_attributes.addClass('columns--sidebar-left') %}
  {% set sidebar_blocks = sidebar_left %}
  {% set sidebar_pars = content.field_left_sidebar %}
{% elseif right_sidebar_filled %}
  {% set container_attributes=container_attributes.addClass('columns--sidebar-right') %}
  {% set sidebar_blocks = sidebar_right %}
  {% set sidebar_pars = content.field_right_sidebar %}
{% else %}
  {% set container_attributes = create_attribute() %}
{% endif %}

{% if (left_sidebar_filled) or (right_sidebar_filled) %}
  {% set rendered_sidebar_content %}
    <div>
      {{ sidebar_pars }}
      {{ sidebar_blocks }}
    </div>
  {% endset %}
{% endif %}

{% if content.recent_image|render %}
  {% set rendered_content %}
    {{ content|without('body', 'recent_image', 'field_left_sidebar', 'field_right_sidebar') }}
  {% endset %}
  <div class="row row--image row--landing" style="background-image: url({{ image_url }});">
    <div class="container">
      <div class="content--onimage">
        {{ title_markup }}
        <strong>Aangemaakt op:</strong> {{ node.created.value|date('d-m-Y') }}, <strong>Aangepast op:</strong> {{ node.changed.value|date('d-m-Y') }}
      </div>
    </div>
  </div>
{% else %}
  {% if (left_sidebar_filled) or (right_sidebar_filled) %}
    {% set rendered_content %}
      <div class="">
        {{ title_markup }}
        <strong>Aangemaakt op:</strong> {{ node.created.value|date('d-m-Y') }}, <strong>Aangepast op:</strong> {{ node.changed.value|date('d-m-Y') }}
      </div>
      {{ content|without('body', 'recent_image', 'field_left_sidebar', 'field_right_sidebar') }}
    {% endset %}
  {% else %}
    {% set rendered_content %}
      <div class="row container">
        {{ title_markup }}
        <strong>Aangemaakt op:</strong> {{ node.created.value|date('d-m-Y') }}, <strong>Aangepast op:</strong> {{ node.changed.value|date('d-m-Y') }}
      </div>
      {{ content|without('body', 'recent_image', 'field_left_sidebar', 'field_right_sidebar') }}
    {% endset %}
  {% endif %}
{% endif %}

<div{{ container_attributes }}>
  <div>
    {{ content.body }}
  </div>
  {{ rendered_sidebar_content }}
</div>
