<div>
  <div class="tags">
    {% for tag in tags %}
      <span>{{ tag }}</span>
    {% endfor %}
  </div>

  <p>{{ node.field_description.value|nl2br }}</p>

  {% if(node.relation_application_dataset[0].value) %}
    <h2>{{ 'Datasets' }}</h2>
    {% for url in node.relation_application_dataset %}
      {{ get_dataset_link_by_identifier(url.value) }}<br />
    {% endfor %}
  {% endif %}
</div>
<div id="sidebar">
  {% if logo.url %}
    <img src="{{ logo.url }}" alt="{{ logo.alt }}">
  {% endif %}
  <p>
    <strong>{{ node.field_contactperson_organization.value }}</strong><br />
    {{ node.field_contactperson_name.value }}<br>
    <a href="mailto:{{ node.field_contactperson_email.value }}">{{ node.field_contactperson_email.value }}</a><br />
    {{ node.field_contactperson_phone.value }}
  </p>
</div>
