{% extends '@koop_overheid/content_item/content-item.html.twig' %}
{% import '@koop_overheid/content_item/content-item.html.twig' as content_item %}

{% block content_item %}
  {% set content_item_type = 'datarequest' %}
  {{ parent() }}
{% endblock content_item %}

{% block content_item_title %}
  {{ content_item.theme_icon(node.theme.value) }}
  <div>
    <p class="type">{{ 'Data request'|t }}</p>
    <h1>{{ node.title.value }}</h1>
    {{ content_item.permalink(url('donl.datarequest', {'datarequest': node.id})) }}
  </div>
{% endblock content_item_title%}

{% block content_item_description %}
  <table class="main-data minimal-table">
    <tbody>
    <tr>
      <th>{{ 'Data request number'|t }}</th>
      <td>{{ node.datarequest_id.value }}</td>
    </tr>
    <tr>
      <th>{{ 'Fase'|t }}</th>
      <td>{{ ckan_get_select_key('datarequest', 'phase', node.phase.value) }}</td>
    </tr>
    <tr>
      <th>{{ 'State'|t }}</th>
      <td>{{ ckan_get_select_key('datarequest', 'state', node.state.value) }}</td>
    </tr>
    <tr>
      <th>{{ 'Last changed'|t }}</th>
      <td>{{ extraInfo.lastChanged }}</td>
    </tr>
    </tbody>
  </table>
{% endblock content_item_description %}
