{% macro permalink(permalink_url) %}
  <span class="permanent-link">
      <span class="icon--permalink"></span>{{ 'Permanent link'|t }}<span class="copied">{{ 'Copied'|t }}</span>
    </span>
  <div class="permalink-copy hidden">{{ permalink_url }}</div>
{% endmacro %}

{% macro theme_icon(icon_src, theme_uri = '') %}
  <span class="type-icon">
    <img src="{{ icon_src }}" alt="type-icon">
    {% if theme_uri %}
      {% set theme_class = ckan_mapping_get_theme_class(theme_uri) %}
      {% if theme_class %}
        <dd class="icon icon--{{ theme_class }}"></dd>
      {% endif %}
    {% endif %}
  </span>
{% endmacro %}

{% set content_item_type = '' %}
{% set content_item_background_color = '' %}

{% if editLinks %}
  <div class="container">
    <div class="buttonswitch">
      {% for editLink in editLinks %}
        {{ editLink }}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% block content_item_pre_content %}

{% endblock content_item_pre_content %}

{% block content_item %}
  <div class="content-item {{ content_item_type }}">
    <div class="content-header">
      <div class="container columns">
        {% if backLink %}
          <div>{{ backLink }}</div>
        {% endif %}
        {{ search }}
      </div>
    </div>
    <div class="background {{ content_item_background_color }}">
      <div class="container">
        {% block content_item_container %}
          <div class="content-item-title">
            {% block content_item_title %}

            {% endblock content_item_title%}
          </div>
          <div class="content-item-description">
            {% block content_item_description %}

            {% endblock content_item_description %}
          </div>
          {% block content_item_tabs %}
            {% if tabs %}
              <ul id="{{ content_item_type }}-tabs" class="tabs">
                {% for key, tab in tabs %}
                  <li data-target="{{ key }}" {% if loop.first %}class="active" {% endif %}>{{ tab }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endblock content_item_tabs %}
        {% endblock content_item_container %}
      </div>
    </div>
    {% block content_item_panels %}
      {% if panels %}
        <div class="panels">
          {{ panels }}
        </div>
      {% endif %}
    {% endblock content_item_panels %}
  </div>
{% endblock content_item %}
