{% macro permalink(permalink_url) %}
  <span class="permanent-link">
      <span class="icon--permalink"></span>{{ 'Permanent link'|t }}<span class="copied">{{ 'Copied'|t }}</span>
    </span>
  <div class="permalink-copy hidden">{{ permalink_url }}</div>
{% endmacro %}

{% macro theme_icon(theme_uri = '') %}
  <span class="content-characteristics-icon">
    {% if theme_uri %}
      {% set theme_class = ckan_mapping_get_theme_class(theme_uri) %}
      {% if theme_class %}
        <dd class="icon icon--{{ theme_class }}"></dd>
      {% endif %}
    {% endif %}
  </span>
{% endmacro %}

{% set content_item_type = '' %}

{% if editLinks %}
  <div class="container">
    <div class="buttonswitch">
      {% for editLink in editLinks %}
        {{ editLink }}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% block content_item_pre_content %}

{% endblock content_item_pre_content %}

{% block content_item %}
  <div class="content-item content-characteristics content-characteristics-{{ content_item_type }}">
    <div class="content-header">
      <div class="container columns">
        {% if backLink %}
          <div>{{ backLink }}</div>
        {% endif %}
        {{ search }}
      </div>
    </div>
    <div class="content-characteristics-background">
      <div class="container org-header-container">
        <div>
          {% block content_item_container %}
            <div class="content-item-title">
              {% block content_item_title %}

              {% endblock content_item_title %}
            </div>
            <div class="content-item-description">
              {% block content_item_description %}

              {% endblock content_item_description %}
            </div>

            {% block content_item_tabs %}
              {% if tabs %}
                <ul id="tabs" class="tabs">
                  {% for key, tab in tabs %}

                    {# This check is used to see if we are sending the old tabs or the new tabs.
                     Once all tabs have been migrated this check can be removed. #}
                    {% if tab is iterable %}
                      {% if tab.type == 'link' %}
                        <li data-tab-type="{{ tab.type }}"{% if tab.active %} class="active"{% endif %}>{{ tab.title }}</li>
                      {% elseif tab.type == 'ajax' %}
                        <li data-target="panel-{{ key }}" data-ajax-callback="{{ tab.ajax }}"{% if tab.active %} class="active"{% endif %}>{{ tab.title }}</li>
                      {% else %}
                        <li data-target="panel-{{ key }}" {% if tab.active %} class="active"{% endif %}>{{ tab.title }}</li>
                      {% endif %}
                    {% else %}
                      <li data-target="{{ key }}" {% if loop.first %}class="active" {% endif %}>{{ tab }}</li>
                    {% endif %}

                  {% endfor %}
                </ul>
              {% endif %}
            {% endblock content_item_tabs %}
          {% endblock content_item_container %}
        </div>
        {% block content_item_image %}{% endblock content_item_image %}
      </div>
    </div>
    {% block content_item_panels %}
      {% if panels %}
        <div id="panels" class="panels">
          {{ panels }}
        </div>
      {% endif %}
    {% endblock content_item_panels %}
  </div>
{% endblock content_item %}
