<h2>{{ 'Information about the processing of your personal data'|t }}</h2>

<p>{{ 'KOOP (onderdeel van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties) will processes the personal data that you provide to us when asking your question. We use your data solely to answer your questions.'|t }}</p>

<details data-drupal-selector="privacy-statement-1" id="privacy-statement-1" class="form-wrapper">
  <summary role="button" aria-controls="privacy-statement-1">{{ 'Extra information about the processing of your personal data.'|t }}</summary>
  <h3>{{ 'Why is this information requested?'|t }}</h3>

  <p>{{ 'The information requested in the contact form is necessary to be able to handle your response adequately, on time and completely.'|t }}</p>

  <h3>{{ 'How is your data processed?'|t }}</h3>

  <p>{{ 'After submitting the form your data is registered in the KOOP notification information system. The report is then handled by service desk staff and/or other specialists. First you will receive confirmation of the receipt of your report. Afterwards you will receive further information about the handling of your report. Your data will not be used for purposes other than the handling of your response.'|t }}</p>

  <h3>{{ 'How long do we keep your data?'|t }}</h3>

  <p>{{ "KOOP does not store your personal data for longer than necessary for the purpose for which you left it. In addition, data is used for knowledge building, improving the operation of our websites, keeping statistics and the functioning of the Service Desk. If there is a motive to keep the government's actions transparent, for example when requesting and providing accounts, data is permanently stored."|t }}</p>

  <h3>{{ 'What are your rights?'|t }}</h3>

  <p>{{ 'For your rights with regard to the processing of your data, please refer to the privacy statement of this website. You can also contact the Service Desk of KOOP:'|t }} <a href="mailto:servicedesk@koop.overheid.nl">servicedesk@koop.overheid.nl</a>.</p>
</details>
